@import url('../base.css');

body {
    background-image: url('../images/BKG - Services (short)-150dpi.jpg') !important;
    background-position: 86% 14%;
}

.wrapper {
    width: 45vw !important;
}

@media (max-width: 991.98px) {

    body {
        background-image: url('../images/BKG - Services (long)-150dpi.jpg') !important;
    }

    .display-4 {
        font-size: 2rem !important;
    }

    .wrapper {
        width: 85vw !important;
    }
}