{% extends 'base.html' %}

{% block footer %}
    {{ super() }}
    <footer class="w-100">
        <div class="container w-100 text-black">
            <div class="d-flex container flex-column flex-md-row justify-content-center justify-content-md-between">
                <div class="d-flex flex-row justify-content-center justify-content-md-between align-items-center align-content-md-end ml-md-3 flex-shrink">
                    <a href="https://www.linkedin.com/">
                        <img class="buttons-footer" src="{{ url_for('static', filename='images/Button - Standard - 150dpi-05.png') }}" alt="LinkedIn">
                    </a>
                    <a href="#">
                        <img class="buttons-footer" src="{{ url_for('static', filename='images/Button - Standard - 150dpi-06.png') }}" alt="Map">
                    </a>
                    <a href="#">
                        <img class="buttons-footer" src="{{ url_for('static', filename='images/Button - Standard - 150dpi-07.png') }}" alt="Twitter/ X">
                    </a>
                </div>
                <div class="container d-flex flex-column flex-md-row flex-grow mr-md-3 justify-content-center justify-content-md-end footer-links navbar">
                    <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-content-center align-content-md-start uppercase">
                        <a href="{{ url_for('index') }}" class="m-md-2 my-2 h3 text-black">//Home</a>
                        <a href="{{ url_for('services') }}" class="m-md-2 my-2 h3 text-black">//Services</a>
                    </div>
                </div>
            </div>
            <div class="container d-flex flex-column w-100 small justify-content-center">
                <div class="mt-2 d-flex flex-column flex-md-row justify-content-center justify-content-evenly align-items-center">
                    <p>//2024 &#169 ThreatShade</p>
                    <p class="mx-1">| All Rights Reserved |</p>
                    <p>
                       <a href="{{ url_for('privacy_policy') }}" class="p-0 text-black align-self-center"> Privacy Policy</a> 
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}