
{% extends 'base.html' %}

{% block title %}
    Request a Security Assessment | Protect Your Business with Expert Cybersecurity Solutions
{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="Request a comprehensive Security Assessment today and ensure your business is protected from cybersecurity threats. Our experts will evaluate your systems for vulnerabilities.">
{% endblock %}

{% include 'navbar-index.html' %}

{% block content %}
    <h1>Hello</h1>
{% endblock %}
