
{% extends 'base.html' %}

{% block title %}
    Request a Security Assessment | Protect Your Business with Expert Cybersecurity Solutions
{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Request a comprehensive Security Assessment today and ensure your business is protected from cybersecurity threats. Our experts will evaluate your systems for vulnerabilities.">

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}

{% endblock %}

{% block body %}
    {% include 'navbar-index.html' %}
    {% block content %}
        <div class="container content text-white text-center text-lg-left mt-3">
            <div class="mb-5">
                <h1 class="mt-5">//Schedule your <span class="yellow">Free 
                    <br><span class="ml-lg-5 pl-lg-5">Security Assessment</span></span>
                </h1>
                <div class="p-lg-3 container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around">
                    <div class="pt-2 mx-lg-5 px-lg-4 d-flex flex-column">
                        <p>{{ paragraph1 }}</p>
                        <p>{{ paragraph2 }}</p>
                        <button type="button" class="btn d-flex flex-row justify-content-center">
                            <a href="{{ url_for('contact') }}">
                                <img src="{{url_for('static', filename='/images/Button - Standard - 150dpi-01.png')}}" class="button-index" alt="Schedule Risk Assessment">
                            </a>
                        </button>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/images/Floating phone - 1080px tall - 150dpi.png') }}" alt="Picture of a mobile phone" class="phone-img">
                    </div>
                </div>
            </div>
            <div class="px-lg-3 container d-flex flex-column justify-content-center py-5 my-5">
                <h2 class="my-5 text-red display-4 uppercase" id="about">//About</h2>
                <div class="pt-2 pb-5 mx-lg-5 px-lg-4 text-black">
                    <p>{{ paragraph3 }}</p>
                </div>
            </div>
        </div>
    
    {% endblock %}
    {% include 'footer-index.html' %}
{% endblock %}
