
{% extends 'base.html' %}

{% block title %}
    Penetration Testing, Vulnerability Scanning & Threat Modelling Services | Threatshade
{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Protect your business with Threatshade's expert penetration testing, vulnerability scanning, and threat modelling services. Identify and fix security weaknesses before cyber threats exploit them. Get a comprehensive report and actionable solutions today.">

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}?v=1">
    {% endblock %}

{% endblock %}

{% block body %}
    {% include 'navbar-services.html' %}
    {% block content %}
        {% for paragraph in data['services'] %}
        <div class="container text-white">
            <h2>
                {{ paragraph['title'] }}
            </h2>
            <div>
                {{ paragraph['content'] }}
            </div>
        </div>
        {% endfor %}
    {% endblock %}
    {% include 'footer-services.html' %}
{% endblock %}
